@model AppEcommerce.Models.Contato

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutAdmin";
}
<div class="row justify-content-center">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalhes</h4>
                <p class="card-description"> Detalhes sobre a Mensagem </p>
                <form class="forms-sample" asp-action="Create" id="form" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" asp-for="Nome" class="form-control" placeholder="Nome..." readonly>
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="email" asp-for="Email" class="form-control" placeholder="E-mail..." readonly>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Assunto</label>
                        <input type="text" asp-for="Assunto" class="form-control" placeholder="Assunto..." readonly>
                        <span asp-validation-for="Assunto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Mensagem</label>
                        <textarea class="form-control" asp-for="Mensagem" rows="10" readonly></textarea >
                        <span asp-validation-for="Mensagem" class="text-danger"></span>
                      </div>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mr-2">Editar</a>
                    <a asp-action="Index" class="btn btn-light">Voltar</a>
                </form>
            </div>
        </div>
    </div>
</div>
