@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppEcommerce.Models.User> SignInManager
@inject UserManager<AppEcommerce.Models.User> UserManager

<p>
    Olá @UserManager.GetUserAsync(User).Result.UserName
</p>