@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppEcommerce.Models.User> SignInManager
@inject UserManager<AppEcommerce.Models.User> UserManager

<div>
    <h2 class="text-dark font-weight-bold mb-2 text-uppercase"><label class="titulo"></label> <b
            class="text-dark font-weight-bold mb-2"> @UserManager.GetUserAsync(User).Result.UserName</b> !!</h2>

</div>
