@* <a class="btn px-0 ml-3" asp-action="Index" asp-controller="ShoppingCart">
    <i class="fas fa-shopping-cart text-primary" style="font-size: 20px;"></i>
    <span class="badge text-secondary border border-secondary rounded-circle"
        style="padding-bottom: 2px;">@ViewBag.ShoppingCartId.ShoppingCartItemId.Count()</span>
</a> *@
