@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppEcommerce.Models.User> SignInManager
@inject UserManager<AppEcommerce.Models.User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="nav-item dropdown">
        <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="bi bi-person-circle text-primary" style="font-size: 20px"></i>
            <span class="badge text-secondary border-secondary" style="padding-bottom: 2px; font-size: 14px">
                Seja Bem-vindo <b class="text-primary">@UserManager.GetUserAsync(User).Result.UserName</b>
            </span>
        </a>
        <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
            @if (User.IsInRole("Administrador"))
            {
                <a class="dropdown-item" asp-controller="Admin" asp-action="Index">Área administrativa</a>
            }
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Gerenciar Conta" class="dropdown-item">Gerencie sua Conta</a>
            <a class="dropdown-item" href="javascript:{}" onclick="document.getElementById('formLogout').submit(); return false;">Sair</a>
            <form id="formLogout" hidden asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            </form>
        </div>
    </div>

    @* <div class="dropdown">
        <a href="">
            <i class="bi bi-person-circle text-primary" style="font-size: 20px"></i>
            <span class="badge text-secondary border-secondary" style="padding-bottom: 2px; font-size: 14px">
                Seja Bem-vindo <b class="text-primary">@UserManager.GetUserAsync(User).Result.UserName</b>
            </span>
        </a>
        <div class="dropdown-content">
            <a asp-controller="Admin" asp-action="Index">Área administrativa</a> <!-- Link para area administrativa -->
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Gerenciar Conta">Gerencie sua Conta</a>
            <a href="javascript:{}" onclick="document.getElementById('formLogout').submit(); return false;">Sair</a>
            <form id="formLogout" hidden asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            </form>
        </div>
    </div> *@
}
else
{
    <a asp-area="Identity" asp-page="/Account/Login">
        <i class="bi bi-person-circle text-primary" style="font-size: 20px;"></i>
        <span class="badge text-secondary border-secondary" style="padding-bottom: 2px; font-size: 14px">Entrar</span>
    </a>
}

<style>
    .dropdown {
        display: inline-flex;
        position: relative;

    }
</style>
