<form asp-action="Filtro" asp-controller="Home">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar Produtos" name="searchString" value="@ViewData["CurrentFilter"]">
        <div class="input-group-append">
            <button class="input-group-text bg-dark text-primary" style="border-color: #3F4147;" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>
