@model AppEcommerce.Models.Imagem

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutAdmin";
    var produto = ViewBag.Produto as Produto;
}

@* <h1>Create</h1>

    <h4>Imagem</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form asp-action="Create" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="@Model.IdImagem">
    <input type="hidden" value="@produto.Id" name="IdProduto" id="IdProduto">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
    <label asp-for="Img" class="control-label"></label>
    <input asp-for="ImagemFile" accept="imagem/*" type="file" />
    <span asp-validation-for="Imagem" class="text-danger"></span>
    </div>
    <div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    </form>
    </div>
    </div>

    <div>
    <a asp-action="Index">Back to List</a>
    </div> *@

<div class="row justify-content-center">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cadastrar Imagem</h4>
                <p class="card-description"> Escolha o arquivo da imagem para cadastro </p>
                <form class="forms-sample" asp-action="Create" enctype="multipart/form-data" method="post">
                    <input type="hidden" asp-for="@Model.IdImagem">
                    <input type="hidden" value="@produto.Id" name="IdProduto" id="IdProduto">
                    <div class="form-group">
                        <label>File upload</label>
                        <input type="text" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                            <label for="arquivo" class="form-control file-upload-info text"
                                placeholder="Upload Image"></label>
                            <span class="input-group-append">
                                <button onclick="escolherArquivo()" class="file-upload-browse btn btn-primary"
                                    type="button">Upload</button>
                                <input id="arquivo" style="display:none" asp-for="Img" accept="imagem/*"
                                    type="file" name="file"/>
                            </span>
                        </div>
                    </div>
                    @* <div class="form-group">
                        <input asp-for="ImagemFile" accept="imagem/*" class="upload-box" type="file" />
                        <span asp-validation-for="Imagem" class="text-danger"></span>
                    </div> *@
                    @* <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFileLang">
                            <label class="custom-file-label text" for="customFileLang"></label>
                        </div>
                    </div> *@
                    <button type="submit" value="Create" class="btn btn-primary mr-2">Cadastrar</button>
                    <a asp-action="Index" class="btn btn-light">Cancelar</a>
                </form>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    function escolherArquivo() {
        // vamos obter uma referência ao elemento file
        var arquivo = document.getElementById("arquivo");
        // vamos disparar seu evento onclick()
        arquivo.click();
    }

    document.querySelector('#arquivo').addEventListener('change', function() {
        document.querySelector('.text').textContent = this.files[0].name;
    })
</script>
