@model AppEcommerce.Models.ImagemSite

@{
    ViewData["Title"] = "Carrosel";
    Layout = "_LayoutAdmin";
}

<div class="row justify-content-center">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalhes</h4>
                <p class="card-description"> Imagem </p>
                <form class="forms-sample" asp-action="Create" id="form" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <div class="col-12 mt-2 text-center">
                            <img src="@Model.Img" class="img-fluid" id="PreviewImage" />
                        </div>
                    </div>
                    <div class="form-check form-check-flat form-check-primary">
                        <label class="form-check-label">
                            <input type="checkbox" asp-for="Carrosel" class="form-check-input" disabled> Imagem para Carrosel
                        </label>
                    </div>
                    <div class="form-check form-check-flat form-check-primary">
                        <label class="form-check-label">
                            <input type="checkbox" asp-for="Secundaria" class="form-check-input" disabled> Imagem Secundária
                        </label>
                    </div>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mr-2">Editar</a>
                    <a asp-action="Index" class="btn btn-light">Voltar</a>
                </form>
            </div>
        </div>
    </div>
</div>
