@{
    ViewBag.Subtitulo = "Buy Sell Tecnologia";
}

<h2>Carrinho de Compras</h2>
<ul class="list-group mb-3">
    <li class="list-group-item py-3">
        <div class="row g-3">
            <div class="col-4 col-md-3 col-lg-2">
                <a href="#">
                    <img src="/img/produtos/000008.jpg" class="img-thumbnail">
                </a>
            </div>
            <div class="col-8 col-md-9 col-lg-7 col-xl-8 text-left align-self-center">
                <h4>
                    <b>
                        <a href="#" class="text-decoration-none text-dark">Abacate Manteiga</a>
                    </b>
                </h4>
                <h5>
                    Abacate Manteiga da melhor qualidade possível e muito fresco.
                </h5>
            </div>
            <div class="col-6 offset-6 col-sm-6 offset-sm-6 col-md-4
                  offset-md-8 col-lg-3 offset-lg-0 col-xl-2 align-self-center mt-3">
                <div class="input-group">
                    <button class="btn btn-outline-dark btn-sm" type="button">
                        <i class="bi-caret-down" style="font-size: 12px; line-height: 12px;"></i>
                    </button>
                    <input type="text" class="form-control text-center border-dark" value="4">
                    <button class="btn btn-outline-dark btn-sm" type="button">
                        <i class="bi-caret-up" style="font-size: 12px; line-height: 12px;"></i>
                    </button>
                    <button class="btn btn-outline-danger border-dark btn-sm" type="button">
                        <i class="bi-trash" style="font-size: 12px; line-height: 12px;"></i>
                    </button>
                </div>
                <div class="text-end mt-2">
                    <small class="text-secondary">Valor Kg: R$ 6,40</small><br>
                    <span class="text-dark">Valor Item: R$ 14,80</span>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item pt-3 pb-0">
        <div class="text-end">
            <h4 class="text-dark mb-3">
                Valor Total: R$ 62,84
            </h4>
            <a href="/Index.html" class="btn btn-outline-success btn-lg mb-3">
                Continuar Comprando
            </a>
            <a href="/fechamentoItens.html" class="btn btn-outline-danger btn-lg ms-2 mb-3">
                Fechar Compra
            </a>
        </div>
    </li>
</ul>
