@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder=" " disabled />
                <label asp-for="Username">Usuário</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" placeholder=" " class="form-control" />
                <label asp-for="Input.PhoneNumber">Telefone</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-block btn-primary font-weight-bold"><i
                    class="bi bi-check-lg" style="font-size: 20px;"></i> Salvar</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

@* <form action="">
    <div class="form-floating mb-3">
    <input class="form-control" type="text" id="txtNome" placeholder=" " autofocus />
    <label for="txtNome">Nome</label>
    </div>
    <div class="form-floating mb-3 col-md-6 col-xl-4">
    <input class="form-control" type="text" id="txtCPF" placeholder=" " />
    <label for="txtNome">CPF</label>
    </div>
    <div class="form-floating mb-3 col-md-6 col-xl-4">
    <input class="form-control" type="date" id="txtDataNascimento" placeholder=" " />
    <label for="txtDataNascimento">Data de Nascimento</label>
    </div>
    </form> *@






@* <form id="profile-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-3">
    <input asp-for="Username" disabled class="form-control" type="text" placeholder=" " />
    <label asp-for="Username" for="txtNome">Nome</label>
    </div>
    <div class="form-floating mb-3 col-md-6 col-xl-4">
    <input asp-for="Input.PhoneNumber" class="form-control" type="text" placeholder=" " />
    <label asp-for="Input.PhoneNumber">Telefone</label>
    </div>
    <div class="form-floating mb-3 col-md-6 col-xl-4">
    <input class="form-control" type="date" id="txtDataNascimento" placeholder=" " />
    <label for="txtDataNascimento">Data de Nascimento</label>
    </div>
    <button id="update-profile-button" type="submit" class="btn btn-primary">Salvar</button>
    </form> *@






@* <h4>@ViewData["Title"]</h4> *@
