@model AppEcommerce.Models.Categoria

@{
    ViewData["Title"] = "Cadastro";
    Layout = "_LayoutAdmin";
}


<div class="row justify-content-center">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cadastrar Categoria</h4>
                <p class="card-description"> Informe as descrições para o cadastro </p>
                <form class="forms-sample" asp-action="Create" id="form" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label> Descrição da Categoria</label>
                        <input type="text" asp-for="Nome" class="form-control" placeholder="Categoria...">
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>File upload</label>
                        <input type="text" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                            <label for="arquivo" class="form-control file-upload-info text"
                                placeholder="Upload Image"></label>
                            <span class="input-group-append">
                                <button onclick="escolherArquivo()" class="file-upload-browse btn btn-primary"
                                    type="button">Upload</button>
                                <input id="arquivo" style="display:none" asp-for="Imagem" accept="imagem/*"
                                    type="file" name="file">
                                <input asp-for="Imagem" hidden>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-12 mt-2 text-center">
                            <img src="" class="img-fluid" id="PreviewImage" />
                        </div>
                    </div>
                    <button type="submit" value="Create" class="btn btn-primary mr-2">Cadastrar</button>
                    <a asp-action="Index" class="btn btn-light">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
<script type="text/javascript">
    function escolherArquivo() {
        // vamos obter uma referência ao elemento file
        var arquivo = document.getElementById("arquivo");
        // vamos disparar seu evento onclick()
        arquivo.click();
    }

    document.querySelector('#arquivo').addEventListener('change', function () {
        document.querySelector('.text').textContent = this.files[0].name;
    });

    window.addEventListener('load', function () {
        document.querySelector('input[type="file"]').addEventListener('change', function () {
            if (this.files && this.files[0]) {
                var img = document.getElementById('PreviewImage');
                img.src = URL.createObjectURL(this.files[0]);
            }
        })
    });

    let ok = '@Html.Raw(ViewBag.Concluido)';
    if (ok == 'OK')
    {
        Swal.fire({
            icon: "success",
            title: "Categoria Cadastrada com Sucesso!!",
            type: "success",
            confirmButtonColor: "#3085d6",
            confirmButtonText: "OK",
            closeOnConfirm: true,
            allowOutsideClick: false,
        }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = '@Url.Action("Index", "Categoria")';
        }
    })
    }
</script>
}