@* @model IEnumerable<AppEcommerce.Models.Categoria>

@foreach (var categoria in Model)
{
    <a class="nav-item nav-link" asp-route-id="@categoria.Id" asp-action="Categoria" asp-controller="Home">@categoria.Nome</a>
} *@