@{
    ViewBag.Subtitulo = "InfoTech";
}

<div class="row justify-content-center">
    <form class="col-sm-10 col-md-8 col-lg-6">
        <h1>Cadastre-se agora</h1>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="txtNome" placeholder=" " autofocus />
            <label for="txtNome">Nome</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="txtCPF" placeholder=" " />
            <label for="txtCPF">CPF</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="date" id="Data" placeholder=" " />
            <label for="Data">Data de Nascimento</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="email" id="txtEmail" placeholder=" " />
            <label for="txtEmail">E-mail</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="password" id="txtSenha" placeholder=" " />
            <label for="txtSenha">Senha</label>
        </div>

        <div>
            <a href="/Index.html" class="btn btn-outline-secondary">Cancelar</a>
            <button type="button" onclick="window.location.href='/cliente.html'"
                class="btn btn-md btn-danger">Cadastrar</button>
        </div>

        <p class="mt-3">
            Já possui uma conta? <a href="/login.html">Clique Aqui</a> para logar.
        </p>
    </form>
</div>