@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="container pt-4 pb-4">
    <div class="row justify-content-center">
        <div class="loading">Loading&#8230;</div>
        <form class="col-sm-10 col-md-8 col-lg-5" method="post">
            <h5 class="section-title position-relative text-uppercase mb-3"><span
                    class="bg-secondary pr-3">Confirme Seu E-mail</span>
            </h5>
            <p class="h6">Informe seu e-mail para receber um novo link de confirmação, para finalizar a criação de sua
                conta</p>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" placeholder=" " autofocus />
                <label asp-for="Input.Email">E-mail</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-block btn-primary font-weight-bold py-3">Enviar E-mail</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script type="text/javascript">
    function displayBusyIndicator() {
        $('.loading').show();
    };

    $(document).on('submit', 'form', function () {
        displayBusyIndicator();
    });
</script>
}
