@model IEnumerable<AppEcommerce.Models.Categoria>

@foreach (var categoria in Model) {
<a asp-action="Filtro" asp-route-id="@categoria.Id" class="nav-item nav-link">@categoria.Nome</a>
}
<a asp-action="Category" asp-controller="Home" class="nav-item nav-link"><b>Todas as Categorias...</b></a>
